/*
 * Edison Credentials API
 * No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
 *
 * The version of the OpenAPI document: 0.0.1
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */


package com.sicpa.edison.credentialsclient.api;

import com.sicpa.edison.credentialsclient.client.ApiCallback;
import com.sicpa.edison.credentialsclient.client.ApiClient;
import com.sicpa.edison.credentialsclient.client.ApiException;
import com.sicpa.edison.credentialsclient.client.ApiResponse;
import com.sicpa.edison.credentialsclient.client.Configuration;
import com.sicpa.edison.credentialsclient.client.Pair;
import com.sicpa.edison.credentialsclient.client.ProgressRequestBody;
import com.sicpa.edison.credentialsclient.client.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;


import com.sicpa.edison.credentialsclient.model.ApiError;
import com.sicpa.edison.credentialsclient.model.Webhook;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class InternalWebhooksApi {
    private ApiClient localVarApiClient;

    public InternalWebhooksApi() {
        this(Configuration.getDefaultApiClient());
    }

    public InternalWebhooksApi(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return localVarApiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    /**
     * Build call for webhooksGet
     * @param walletId  (required)
     * @param acaPyTopic  (required)
     * @param acaPyFilter  (required)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> OK </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Bad Request </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> Internal Server Error </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call webhooksGetCall(String walletId, String acaPyTopic, String acaPyFilter, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/internal/webhooks";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (walletId != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("walletId", walletId));
        }

        if (acaPyTopic != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("acaPyTopic", acaPyTopic));
        }

        if (acaPyFilter != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("acaPyFilter", acaPyFilter));
        }

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json", "*/*"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] {  };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call webhooksGetValidateBeforeCall(String walletId, String acaPyTopic, String acaPyFilter, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'walletId' is set
        if (walletId == null) {
            throw new ApiException("Missing the required parameter 'walletId' when calling webhooksGet(Async)");
        }
        
        // verify the required parameter 'acaPyTopic' is set
        if (acaPyTopic == null) {
            throw new ApiException("Missing the required parameter 'acaPyTopic' when calling webhooksGet(Async)");
        }
        
        // verify the required parameter 'acaPyFilter' is set
        if (acaPyFilter == null) {
            throw new ApiException("Missing the required parameter 'acaPyFilter' when calling webhooksGet(Async)");
        }
        

        okhttp3.Call localVarCall = webhooksGetCall(walletId, acaPyTopic, acaPyFilter, _callback);
        return localVarCall;

    }

    /**
     * List an organization&#39;s active webhooks with given type 
     * 
     * @param walletId  (required)
     * @param acaPyTopic  (required)
     * @param acaPyFilter  (required)
     * @return List&lt;Webhook&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> OK </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Bad Request </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> Internal Server Error </td><td>  -  </td></tr>
     </table>
     */
    public List<Webhook> webhooksGet(String walletId, String acaPyTopic, String acaPyFilter) throws ApiException {
        ApiResponse<List<Webhook>> localVarResp = webhooksGetWithHttpInfo(walletId, acaPyTopic, acaPyFilter);
        return localVarResp.getData();
    }

    /**
     * List an organization&#39;s active webhooks with given type 
     * 
     * @param walletId  (required)
     * @param acaPyTopic  (required)
     * @param acaPyFilter  (required)
     * @return ApiResponse&lt;List&lt;Webhook&gt;&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> OK </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Bad Request </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> Internal Server Error </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<List<Webhook>> webhooksGetWithHttpInfo(String walletId, String acaPyTopic, String acaPyFilter) throws ApiException {
        okhttp3.Call localVarCall = webhooksGetValidateBeforeCall(walletId, acaPyTopic, acaPyFilter, null);
        Type localVarReturnType = new TypeToken<List<Webhook>>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * List an organization&#39;s active webhooks with given type  (asynchronously)
     * 
     * @param walletId  (required)
     * @param acaPyTopic  (required)
     * @param acaPyFilter  (required)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> OK </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Bad Request </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> Internal Server Error </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call webhooksGetAsync(String walletId, String acaPyTopic, String acaPyFilter, final ApiCallback<List<Webhook>> _callback) throws ApiException {

        okhttp3.Call localVarCall = webhooksGetValidateBeforeCall(walletId, acaPyTopic, acaPyFilter, _callback);
        Type localVarReturnType = new TypeToken<List<Webhook>>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
}
