

# VerificationSummary

## Properties

Name | Type | Description | Notes
------------ | ------------- | ------------- | -------------
**name** | **String** | The name of the validation |  [optional]
**verificationId** | **String** | The verification id |  [optional]



